@import "./../palette.less";

.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  border-radius: 4px;
}

.btn-primary {
  background-color: @preferredcolor;
  color: white;
  display:inline-block;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: @active-button-color;
  border: 1px solid @active-button-color;
}
.btn-primary:disabled,
.btn-primary[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
}
.btn-primary:disabled:hover,
.btn-primary[disabled]:hover {
  background-color: @preferredcolor;
  border: 1px solid @preferredcolor;
  cursor: not-allowed;
  opacity: 0.65;
}

// Buttons in a .btn-row are automatically separated with a gap
.btn-row .btn:not(:last-child){
  margin-right: 0.5em;
}

.card {
  color: @preferredcolor;
  padding: 15px;
  text-align: center;
}

.card-text-unit {
  font-size: 1.4em;
  margin-top: 10px;
}

.model-elements div {
  margin: 10px;
  min-width: 150px;
  height: 150px;
  width: 150px;
  text-align: center;
  position: relative;
  float: left;
  min-height: 1px;
}

.model-element-selected div {
  background-color: @preferredcolor;
  color: white;
}

.picker-card {
  display: inline-block;
  height: 150px;
  width: 150px;
  color: @preferredcolor;
  font-size: 1.4em;
  padding: 10px;
  float: left;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  &.selected {
    background-color: @preferredcolor;
    color: white;
  }
}

.assign, .unassign {
  font-size: 36px;
  cursor: pointer;
  &.disabled {
    color: @inactivecolor;
    cursor: default;
  }
}

.edit {
  cursor: pointer;
  top: 0px;
  font-size: small;
  float: right;
  padding-right: 0.5em;
}
