@import "./../palette.less";

.connection-creds-info {
  min-height: 37em;
  .input-container {
    margin-top: 0.5em;
  }
  .input-line {
    width: 100%;
    margin-bottom: 0.7em;
    display: inline-flex;
    .input-heading {
      width: 5%;
      min-width: 7em;
      display: inline-block;
      text-align: right;
      padding-right: 0.5em;
    }
    .input-body {
      width: 95%;
      min-width: 40em;
      display: inline-block;
    }
  }
  .creds-category {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 16px;
  }
  .input-button-container {
    position: absolute;
    margin-top: 1em;
    right: 2em;
    bottom: 1em;
  }
}

.creds-dialog {
  min-width: 56em;
}