@import "./../palette.less";

.edit-server-details {
  min-height: 37em;

  .detail-line {
    width: 100%;
    margin-bottom: 0.7em;
    display: inline-block;
    .detail-heading {
      width: 20%;
      min-width: 7em;
      display: inline-block;
      text-align: right;
      padding-right: 0.5em;
    }
    .info-body {
      width: 80%;
      min-width: 40em;
      display: inline-block;
    }
    .input-body {
      width: 80%;
      min-width: 40em;
      display: inline-block;
    }
  }

  .input-button-container {
    position: absolute;
    margin-top: 1em;
    right: 2em;
    bottom: 1em;
  }

  .server-detail-select select {
    padding: 4px;
    width: 40%;
  }
}
.edit-details-dialog {
  min-width: 56em;
}
