@import "./../palette.less";

.modals {
  .modal-title {
    font-weight: 700;
  }
  .modal-body {
    font-size: 1.2em;
    margin-bottom: 2em;
    white-space: pre-line;
  }
  .button-container {
    display: inline-flex;
  }
}