@import "./../palette.less";

.roles-accordion {
  height: 100%;

  //overwrite default classes of collapsible
  .Collapsible {
    background-color: @page-background-color;
    font-size: 16px;
  }

  .Collapsible__contentInner {
    padding: 10px;
    border-top: 0;
    background: white;
    height: 9em;
  }

  .Collapsible__trigger {
    display: block;
    font-weight: 400;
    text-decoration: none;
    color: @detailcolor;
    position: relative;
    border: 1px solid white;
    padding: 10px;
    background: @box-border-color;

    &:after {
      position: absolute;
      right: 10px;
      top: 10px;
      display: block;
      transition: transform 300ms;
    }

    &.is-open {
      &:after {
        transform: rotateZ(180deg);
      }
    }
  }
}

.server-input {
  .error-message {
    color:@errorcolor;
    display: inline-block;
    margin-left: 1em;
  }
}

.server-input input {
  padding: 4px;
  width: 40%;
}