@import "./../palette.less";

.roles-accordion {
  height: 100%;

  //overwrite default classes of collapsible
  .Collapsible__contentInner {
    border-top: 0;
    background: white;
    height: 9em;
  }

  .Collapsible__contentOuter {
    overflow: auto !important;
  }

  .Collapsible__trigger {
    background: linear-gradient(to bottom, @table-header-gradient-color 0%, @table-header-color 100%);
    border-top: 1px solid @box-border-color;
    border-bottom: 1px solid @box-border-color;
    display: block;
    font-weight: 400;
    text-decoration: none;
    color: @detailcolor;
    position: relative;
    padding: 10px;

    &:after {
      position: absolute;
      right: 10px;
      top: 10px;
      display: block;
      transition: transform 300ms;
    }

    &.is-open {
      &:after {
        transform: rotateZ(180deg);
      }
    }
  }
}

.search-container {
  display: inline-block;
  margin-bottom: 1em;
  position:relative;
  width: 100%;
}

.search-bar input {
  width: 100%;
  font-size: 13px;
  padding: 0.5em;
}

.search-icon {
  position: absolute;
  top: 0.7em;
  right: 0.5em;
}

.server-input {
  .error-message {
    color:@errorcolor;
    display: inline-block;
    margin-left: 1em;
  }
}

.server-input input {
  padding: 4px;
  width: 40%;
}

.sm-badge:before {
  content: ' \25CF';
  font-size: 1em;
  margin-right: 0.5em;
  color: @preferredcolor;
}

.ov-badge:before {
  content: ' \25CF';
  font-size: 1em;
  margin-right: 0.5em;
  color: @preferredcolor-hpe;
}

.material-icons.password-icon {
  font-size: 16px;
  margin-left: 5px;
  vertical-align: text-top;
}
