@import "./../palette.less";

.assign-server-role {
  .body-container {
    margin: 2em;
  }

  .server-container{
    display: inline-block;
    min-height: 300px;
    width: 47%;
    vertical-align: top;
    margin-right: 2em;
  }

  .server-table-container {
    position: relative;
    width: 100%;
    min-height: 30em;
    height: 35em;
    background: white;
    margin-bottom: 1em;
    overflow: auto;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .role-accordion-container {
    height: 38.5em;
  }
}
