@import "./../palette.less";

.assign-server-role {
  .body-container {
    margin: 2em;
  }

  .server-container{
    display: inline-block;
    min-height: 300px;
    width: 47%;
    vertical-align: top;
  }

  .assign-arrows-container {
    display: inline-block;
    margin-top: 200px;
    vertical-align: top;
    text-align: center;
    width: 6%;
    color: @transfer-button-color;
  }

  .search-container {
    margin-bottom: 1em;
    position:relative;
  }

  .search-bar input {
    width: 100%;
    font-size: 13px;
    padding: 0.5em;
  }

  .search-icon {
    position: absolute;
    top: 0.7em;
    right: 0.5em;
  }

  .roles-select {
    margin-bottom: 1em;
    height: 35px;
  }

  .roles-select select {
    padding: 0.5em;
    width: 100%;
    font-size: 13px;
    background-color: white;
  }

  .server-list-container {
    width: 100%;
    min-height: 30em;
    height: 30em;
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    overflow: auto;
  }

  .server-check-box {
    position: relative;
    &.required-update {
      color: @errorcolor;
    }
  }

  .item-menu {
    cursor: pointer;
    position: absolute;
    right: 2px;
  }
}
