.transfer-table {
  display: inline-block;
  .header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  .table-container {
    background-color: @listbodycolor;
    min-width: 100px;
    min-height: 450px;
    height: 450px;
    overflow: auto;
    line-height: 34px;
    table {
      width: 100%;
      td {
        padding-left: 12px;
      }
    }
  }
  .transfer-button-container {
    margin-top: 100px;
    width: 4%;
    min-width: 40px;
  }
  .table-width {
    width: 48%;
  }
  .highlight {
    background-color: yellow;
  }
}