@import "./../palette.less";

.stateOuterWrapper {
  margin-top: 20px;
}

.stateLineWrapper {
  background: #000;
  height: 1px;
  margin-top: 10px;

  > span{
    background: transparent;
    padding: 0px;
    position: relative;
    top: -26px;
  }

  .progress {
    border-radius: 16px;
    display: inline-block;
    height: 32px;
    width: 32px;
    margin: 10px 37px 10px 35px;
    border: 1px solid black;

    &.done{
      background-color: @productprimarycolor;
      border-color: @productprimarycolor;
    }

    &.notdone{
      background-color: @inactivecolor;
    }

    &.inprogress{
      background-color: @selectedcolor;
      border-color: @selectedcolor;
    }

    &.error{
      background-color: @errorcolor;
      border-color: @errorcolor;
    }
  }
}


.wizardHeader {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
  .heading {
    font-size: 25px;
    height: 40px;
  }
}

.wizardContentPage {
  margin: 24px;
}

.wizardContentPage > .heading {
  font-size: 16px;
}
