@import "./../palette.less";

.wizard-progress-container {
  background: #000;
  height: 1px;
  margin-top: 3em;

  > span{
    background: transparent;
    padding: 0px;
    position: relative;
    top: -26px;
  }

  .progress {
    border-radius: 16px;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 15px 37px 10px 35px;
    border: 1px solid black;

    &.done{
      background-color: @productprimarycolor;
      border-color: @productprimarycolor;
    }

    &.not-done{
      background-color: @inactivecolor;
    }

    &.in-progress{
      background-color: @selectedcolor;
      border-color: @selectedcolor;
    }

    &.error{
      background-color: @errorcolor;
      border-color: @errorcolor;
    }
  }
}

.wizard-header {
  margin: 2em 0 4em;
  padding: 0 2em;
}

.wizard-content {
  margin: 3em;
  .heading {
    margin: 0 0 1.5em;
  }
}

