.validateConfigFiles {
  font-size: 16px;
  ul {
    list-style-type: none;
    line-height: 20px;
    height: 500px;
  }
  .body {
    display: inline-block;
    width: 100%;
  }
  .info {
    color: gray;
  }
  .log {
    height: 480px;
  }
}

.config-file-editor {
  font-size: 14px;
  font-family: monospace;
  min-height: 500px;
  min-width: 500px;
}
