// (c) Copyright 2017 SUSE LLC
.cloud-settings {
  .button-box {
    width: 100%;
    margin-bottom: 10px;
  }

  min-width: 90em;

  .action-row {
    height: 4em;
  }

  .add-button {
    padding-right: 5px;
    font-size: 16px;
    color: @info-link-color;
    position: relative;
    top: 3px;
    cursor: pointer;
    &.disabled {
      color: @inactivecolor;
      cursor: default;
    }
  }

  .details-section {
    min-height: 10em;
    position: relative;
    .no-options {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 10em;
      transform: translate(-50%, -50%);
      color: @subheadingcolor;
    }
    .details-header {
      font-weight: bold;
      line-height: 2.8em;
    }
    .details-body .server-input input {
      width: 85%;
    }

    .details-body select,
    .details-body input {
      height: 28px;
      margin-top: 0.8em;
    }
    .details-title {
      font-weight: bold;
      margin: 0.8em 0 2px 1em;
    }
    .details-line {
      margin: 0.5em 0 2px 3em;
    }

    .dropdown-plus-minus {
      display: flex;

      .server-detail-select, .server-input {
        width: 85%;
        select, input { 
          width: 100%;
        }
      }

      .field-container {
        width: 85%;
        display: flex;
        .server-input:not(:last-child) {
          margin-right: 0.5em;
        }
      }
    }
    .plus-minus-container {
      display: flex;
      margin-top: 0.8em; // same as margin-top of '.details-body select'
      .left-sign {
        color: @info-link-color;
        margin: auto 9px auto 9px;
      }
      .right-sign {
        color: @info-link-color;
        margin: auto 0 auto 0;
      }
    }
    .details-btn {
      width: 100%;
      margin-top: 1.5em;
      .btn-container {
        float: right;
      }
      &.network-more-width {
        width: 90%;
      }
    }
    &.network-section {
      width: 100%;
      margin-left: 1.5em;
    }
  }

  //experimental arrow bar
  .bottom-action-container{
    width: 100%;
    display: inline-flex;
    margin-top: 1em;
    .bottom-action-row {
      display: inline-flex;
      width: 75%;
      height: 2em;
      &.on {
        background: @preferredcolor;
        color:white;
      }
    }
    .triangle-right {
      display: inline-flex;
      height: 2em;
      border-top: 1em solid transparent;
      border-bottom: 1em solid transparent;
      border-left: 1em solid transparent;
      background: transparent;
      &.on {
        border-left: 1em solid @preferredcolor;
      }
    }
  }

  .network {
    .network-container {
      width: 100%;
      display: inline-flex;
    }
    .network-table-container {
      min-height: 30em;
      max-height: 40em;
      overflow: auto;
      width: 75%;
      display: inline-flex;
    }
    .network-update-container {
      width: 25%;
      display: inline-flex;
    }
    .tagged {
      margin: 0.5em 0.5em 1.5em 0;
    }
    .tagged-vlan {
      input {
        vertical-align: middle;
        position: relative;
        top: 4px;
      }
      width: 90%;
    }
    .server-detail-select select {
      padding: 4px;
      width: 90%;
    }
    .details-section .details-body .server-input input {
      padding: 4px;
      width: 90%;
    }
  }

  .row-action-container {
    display: flex;
    float: right;
    cursor: pointer;
    .view-button {
      color: @info-link-color;
      margin: auto 0 auto 0;
      &.disabled {
        color: @inactivecolor;
        cursor: default;
      }
    }
    .edit-button {
      color: @info-link-color;
      margin: auto 12px auto 12px;
      &.disabled {
        color: @inactivecolor;
        cursor: default;
      }
    }
    .remove-button {
      color: @info-link-color;
      margin: auto 0 auto 0;
      &.disabled {
        color: @inactivecolor;
        cursor: default;
      }
    }
  }
}

