@import "palette";//palette.less

body {
  background-color: white;
  font-family: Arial;
  font-size: 12px;
}

.edit-icon {
  font-size: 1em;
}

.text-header {
  color: gray;
  margin-left: 20px;
}

.text-theme {
  color: gray;
}

.verticalLine {
  border-right: thin solid lightgray;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-left-10 {
  margin-left: 10px;
}

.footer-container {
  background-color: white;
  margin: 25px;
  position: absolute;
  bottom: 2%;
  float: right;
  right: 50px;
}

.helper {
  cursor: pointer;
  margin: 5px;
}
