body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.progress {
    border-radius: 16px;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 10px;
    border: 1px solid black;
}

.done{
    background-color: #00C081;
}

.notdone{
    background-color: #DCDDDE;
}

.inprogress{
    background-color: #02A49C;
}

.error{
    background-color: red;
}

.wizardHeader {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}

.wizardHeader > .heading {
    font-size: 16px;
    height: 30px;
}

.stateOuterWrapper {
    margin-top: 20px;
}

.stateLineWrapper {
    background: #000;
    height: 1px;
    margin-top: 10px;
}

.stateLineWrapper > span{
    background: transparent;
    padding: 10px;
    position: relative;
    top: -26px;
}
